$tablet: 768px;
$desktop: 1200px;

$font-default: "Roboto", sans-serif; //main font
$font-accent: "Roboto", sans-serif; //main font

$color-default: #3d3d3d; //main text
$color-accent: #01663f; //heading
$color-suplement: #3d3d3d;

$bg: #ff0; // body background
