* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: $color-accent;
    // box-shadow: 0 0 0 1px $color-accent;
}

fieldset label {
    display: inline-flex;
    margin-right: 24px;
}

fieldset {
    display: block;
    border: none;
    padding: 0;
    margin-bottom: 12px;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    outline: none;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style-position: outside;
}

table {
    font-variant-numeric: tabular-nums;
}

img {
    max-width: 100%;
    object-fit: cover;
}

dd span {
    margin-left: 4px;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    font-family: $font-default;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $color-default;
    background-color: $bg;
    min-width: 280px;
    min-height: 100vh;
    overflow-x: hidden;
    opacity: 1;
    -webkit-overflow-scrolling: touch;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $tablet) {
        max-width: 720px;
    }

    @media (min-width: $desktop) {
        max-width: 1140px;
    }
}

.container-fluid {
    max-width: 375px;
    margin: 0 auto;

    @media (min-width: $tablet) {
        max-width: 720px;
    }

    @media (min-width: $desktop) {
        max-width: 1140px;
    }
}
